body {
    max-width: 75%;
    margin: auto;
}
nav {
    border-bottom:1px solid lightgrey;
    justify-content: center;

}
#nav-items {
    gap: 40px;

}
#profile {
    display:flex;
    justify-content: space-between;
    gap: 20px;
}
#profile-picture {
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}
#my-name {
    margin-bottom: 0px;
}
#description {
    max-width: 500px;
}
#project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.project-card {
    max-width: 400px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

}
.project-card img {
    width: 100%;
    height: 300px;
}
.project-info {
    padding: 10px 20px;
}


.skill {
    display: flex;
    justify-content: space-between;
}
.skill-description {
    max-width: 50%;
    text-align: right;
}
footer {
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    gap: 20px;
}